<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <link rel="stylesheet" type="text/css" href="~/Content/bs/css/bootstrap.css" />
</head>
<body>
    
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="@Url.Action("Index","Home")"><b>TECHNOLOGY</b></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li>
                            <form class="d-flex">
                                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Tìm kiếm sản phẩm">
                                <button class="btn btn-outline-success" type="submit">Tìm</button>
                            </form>
                        </li>

                        <li class="nav-item">
                            @Html.Partial("~/Views/GioHang/GiohangPartial.cshtml")
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="@Url.Action("Index","HangSanPham")">Trợ giúp</a>
                        </li>
                        <li class="nav-item">
                            @Html.Partial("~/Views/TaiKhoan/LoginPartial.cshtml")
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>



    <script type="text/javascript" src="~/Content/bs/js/bootstrap.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @RenderSection("upload", required: false)
</body>
</html>
