@model TECHNOLOGY_SHOP.Models.tb_LoaiSanPham

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>THÔNG TIN</h2>

<div>
    <h4>Loại sản phẩm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label>ID Hãng:</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idHang)
        </dd>

        <dt>
            <label>Tên loại sản phẩm:</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenLoaiSP)
        </dd>

        <dt>
            <label>Trạng thái: </label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trangThai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.idLoaiSP }) |
    @Html.ActionLink("Trở về danh sách", "Index")
</p>