@model TECHNOLOGY_SHOP.Models.tb_HangSanPham

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>THÊM MỚI</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Hãng sản phẩm</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2">
                Hãng sản phẩm
            </label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.tenHang, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.tenHang, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">
                Logo
            </label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.logo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.logo, "", new { @class = "text-danger" })
                <input type="file" name="fileUpload" id="fileUpload" accept="image/*" style="display:none;" />
                <br />
                <input type="button" id="btnUpload" value="Chọn" class="btn btn-success" />
                <br />
                <img src="~/Content/images/none.png" id="pictureUpload" style="width: 100px; height: 100px;" />
                @section upload
                {
                    <script>
                        $(function () {
                            $('#btnUpload').click(function () {
                                $('#fileUpload').trigger('click');
                            });
                        });
                        $('#fileUpload').change(function () {
                            if (window.FormData !== undefined) {
                                var fileUpload = $('#fileUpload').get(0);
                                var files = fileUpload.files;
                                var formData = new FormData();
                                formData.append('file', files[0]);
                                $.ajax(
                                    {
                                        type: 'POST',
                                        url: '/HangSanPham/ProcessUpload',
                                        contentType: false,
                                        processData: false,
                                        data: formData,
                                        success: function (urlImage) {
                                            $('#pictureUpload').attr('src', urlImage);
                                            $('#logo').val(urlImage);
                                        },
                                        error: function (err) {
                                            alert('Error ', err.statusText);

                                        }
                                    });
                            }
                        });
                    </script>
                }
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">
                Lĩnh vực kinh doanh
            </label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.linhVuc, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.linhVuc, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">
                Quốc gia
            </label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.quocGia, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.quocGia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">
                Năm thành lập
            </label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.namThanhLap, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.namThanhLap, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Thêm mới" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Quay về danh sách", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
