@model TECHNOLOGY_SHOP.Models.tb_HangSanPham

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>XÓA THÔNG TIN</h2>

<h3>Bạn có chắc chắn muốn xóa?</h3>
<div>
    <h4>Hãng sản phẩm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Hãng sản phẩm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenHang)
        </dd>

        <dt>

        </dt>

        <dd>
            <img src="@Html.DisplayFor(model => model.logo)" alt="hinh thmbnail" style="width: 100px; height: 100px" />
        </dd>

        <dt>
            Lĩnh vực kinh doanh
        </dt>

        <dd>
            @Html.DisplayFor(model => model.linhVuc)
        </dd>

        <dt>
            Quốc gia
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quocGia)
        </dd>

        <dt>
            Năm thành lập
        </dt>

        <dd>
            @Html.DisplayFor(model => model.namThanhLap)
        </dd>

    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xác nhận xóa" class="btn btn-danger" /> |
            @Html.ActionLink("Quay về danh sách", "Index")
        </div>
    }
</div>
