@model IEnumerable<TECHNOLOGY_SHOP.Models.tb_HangSanPham>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>DANH SÁCH HÃNG SẢN PHẨM</h2>

<p>
    @Html.ActionLink("Tạo mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Hãng sản phẩm
        </th>
        <th>
            
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr >
    <td style="line-height : 100px;">
        <p style="margin:auto;">@Html.DisplayFor(modelItem => item.tenHang)</p>
    </td>
    <td >
        <img src="@item.logo" alt="hinh thmbnail" style="width: 100px; height: 100px" />
    </td>
    <td style="line-height : 100px;">
        @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.idHang }) |
        @Html.ActionLink("Chi tiết", "Detail", new { id = item.idHang }) |
        @Html.ActionLink("Xóa", "Delete", new { id = item.idHang })
    </td>
</tr>
}

</table>
