@model TECHNOLOGY_SHOP.Models.tb_TaiKhoan

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 style="text-align:center">THÔNG TIN TÀI KHOẢN</h2>
<table class="table">
    <tr>
        <dt>
            Tên Đăng Nhập
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenDangNhap)
        </dd>

        <dt>
            Mật Khẩu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.matKhau)
        </dd>

        <dt>
            Họ Tên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hoTen)
        </dd>

        <dt>
            Số Điện dtoại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.soDienThoai)
        </dd>

        <dt>
            Địa Chỉ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diaChi)
        </dd>

        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.eMail)
        </dd>

        <dt>
            Quyền Admin
        </dt>

        <dd>
            @Html.DisplayFor(model => model.laAdmin)
        </dd>

    </tr>
</table>
<p>
    @Html.ActionLink("Trở lại", "Index")
</p>
