@using TECHNOLOGY_SHOP.Models
@{
    tb_TaiKhoan tk = (tb_TaiKhoan)Session["TaiKhoan"];
}


@if (Session["Taikhoan"] != null)
{
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="@Url.Action("LichSuDatHang","GioHang", new {id = tk.idTaiKhoan})">Lịch sử đặt hàng</a>
    </li>
    <form class="d-flex nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="@Url.Action("Detail","TaiKhoan", new { id = tk.idTaiKhoan})" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            @tk.hoTen
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Thông tin tài khoản</a></li>
            <li><hr class="dropdown-divider"></li>
            <li>
                <p class="preview-subject mb-1">
                    <a class="dropdown-item" href="@Url.Action("Logout", "TaiKhoan")">Đăng Xuất</a>
                </p>
            </li>
        </ul>
    </form>

}
else
{
    <a class="nav-link active" aria-current="page" href="@Url.Action("Login","TaiKhoan")">Đăng nhập</a>
}

