@model IEnumerable<TECHNOLOGY_SHOP.Models.tb_SanPham>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>TECHNOLOGY SHOP</h2>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel panel-heading" style="height: 100px; display: flex; flex-direction: column;justify-content: center;">
                    <b>@item.tenSP</b>
                </div>
                <div class="panel-body">
                    <p><img src="@item.hinh" alt="hinh thumnail" style="width: 200px; height: 200px"></p>
                    <p><strong>Ngày cập nhật: </strong>@String.Format("{0:M/d/yyyy}", item.ngayCapNhat)</p>
                    <p><strong>Số lượng: </strong>@item.soLuongTon</p>
                    <b style="font-size: 20px; color: red">@String.Format("{0:0,0}", item.giaBan)₫</b>

                </div>
                <div class="panel-footer clearfix">
                    <div class="pull-left">
                        <a class="btn btn-success" href="@Url.Action("ThemGioHang", "GioHang",
                            new { @id = item.idSP, @strURL = Request.Url.ToString() })">Đặt mua</a>
                        @Html.ActionLink("Thông tin thêm...", "Detail", "SanPham", new { id = item.idSP }, new { @class = "btn btn-default" })

                        <div class="DatMua">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

