@model IEnumerable<TECHNOLOGY_SHOP.Models.tb_SanPham>

@{
    ViewBag.Title = "SanPhamByHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SanPhamByHang</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="row">
    @foreach (var item in ViewBag.loaisanphamAll)
    {
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" style="width:260px">
            <div class="panel panel-default" style="border-bottom-right-radius: 1rem; border-bottom-left-radius: 1rem; border-top-right-radius: 1rem; border-top-left-radius: 1rem; ">

                <div class="panel-body">
                    <p><img src="@item.hinh" alt="hinh thumnail" style="width: 200px; height: 200px"></p>
                    <div style=" height: 40px;">
                        <b style="font-size: 14px;">@item.tenSP</b>
                    </div>
                    <br />
                    <b style="font-size: 14px; color: red">@String.Format("{0:0,0}", item.giaBan)₫</b>

                </div>
                <div class="panel-footer clearfix" style="border-bottom-right-radius: 1rem; border-bottom-left-radius: 1rem;">
                    <div class="pull-left">
                        <a class="btn btn-success" href="@Url.Action("ThemGioHang", "GioHang",new { @id = item.idSP, @strURL = Request.Url.ToString() })">Đặt mua</a>
                        @Html.ActionLink("Thông tin...", "Detail", "SanPham", new { id = item.idSP }, new { @class = "btn btn-default" })

                        <div class="DatMua">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
