@model IEnumerable<TECHNOLOGY_SHOP.Models.tb_DonHang>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>QUẢN LÝ DƠN HÀNG</h2>

<table class="table">
    <tr>
        <th>
            ID Tài khoản
        </th>
        <th>
            Ngày đặt
        </th>
        <th>
            Ngày giao
        </th>
        <th>
            Trạng thái
        </th>
        <th>
            Đã thanh toán
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idTaiKhoan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ngayDat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ngayGiao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.trangThai)
            </td>
            <td>
                @String.Format("{0}", item.daThanhToan)
            </td>
            <td>
                @Html.ActionLink("Cập nhật", "Edit", new { id = item.idDonHang })
            </td>
        </tr>
    }

</table>
