@model TECHNOLOGY_SHOP.Models.tb_SanPham

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>XÓA THÔNG TIN</h2>

<h3>Bạn có chắc chắn muốn xóa?</h3>
<h4>Sản phẩm</h4>
<div>


    <div style="display:flex">
        <div style="margin: 10px">

            <img src="@Html.DisplayFor(model => model.hinh)" alt="hinh thmbnail" style="width: 300px; height: 300px" />
        </div>

        <div>
            <dl class="dl-horizontal">
                <dt>
                    <label>ID Hãng</label>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.idHang)
                </dd>
                <dt>Loại sản phẩm</dt>
                <dd>@Html.DisplayFor(model => model.tb_LoaiSanPham.tenLoaiSP)</dd>

                <dt>Tên sản phẩm</dt>
                <dd>@Html.DisplayFor(model => model.tenSP)</dd>

                <dt>Trạng thái</dt>
                <dd>@String.Format("{0}", Model.trangThai)</dd>

                <dt>Giá bán</dt>
                <dd>@String.Format("{0:0,0}", Model.giaBan)₫</dd>

                <dt>Mô tả</dt>
                <dd style="width: 400px; text-align: justify">@Html.DisplayFor(model => model.moTa)</dd>

                <dt>Số lượng tồn</dt>
                <dd>@Html.DisplayFor(model => model.soLuongTon)</dd>

                <dt>Ngày cập nhật</dt>
                <dd>@String.Format("{0:M/d/yyyy}", Model.ngayCapNhat)</dd>
            </dl>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa thông tin" class="btn btn-danger" /> |
            @Html.ActionLink("Trở về danh sách", "Index")
        </div>
    }
</div>
