@model IEnumerable<TECHNOLOGY_SHOP.Models.tb_SanPham>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>DANH SÁCH SẢN PHẨM</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table">
    <tr>
        <th>

        </th>

        <th style="width:250px">
            Tên sản phẩm
        </th>
        <th>
            Loại sản Phẩm
        </th>
        <th> Hãng sản xuất </th>

        <th>
            Giá bán
        </th>
        <th>
            Số lượng tồn
        </th>
        <th>
            Ngày cập nhật
        </th>
        <th>
            Trạng thái
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        <img src="@Html.DisplayFor(modelItem => item.hinh)" alt="hinh thmbnail" style="width: 150px; height: 150px" />
    </td>

    <td style="width:250px;">
        <b>@Html.DisplayFor(modelItem => item.tenSP)</b>
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.tb_LoaiSanPham.tenLoaiSP)
    </td>

    <td>@Html.DisplayFor(modelItem => item.tb_HangSanPham.tenHang)</td>
    <td>
        @String.Format("{0:0,0}", item.giaBan)₫
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.soLuongTon)
    </td>
    <td>
        @String.Format("{0:M/d/yyyy}", item.ngayCapNhat)

    </td>
    <td>
        @String.Format("{0}", item.trangThai)
    </td>
    <td>
        @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.idSP }) |
        @Html.ActionLink("Chi tiết", "Detail", new { id = item.idSP }) @*|
        @Html.ActionLink("Xóa", "Delete", new { id = item.idSP })*@
    </td>
</tr>
}

</table>
